<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://cdn.tailwindcss.com"></script>
  {% block head %}
  <title>Chat</title>
  {% endblock %}
</head>
<body>

  <nav class="flex justify-between text-3xl my-3">
      <ul class="flex ml-10">
          <li>WebSocket Chat</li>
      </ul>
      <ul class="flex gap-5 rm-10">
          {% if user %}
              <li><a href="/logout">
                <button class="bg-blue-500 hover:bg-blue-700 text-white
                    font-bold py-1 px-6 rounded" type="button">
                  Log out
                </button>
              </a></li>
          {% else %}
              <li><a href="/register">
                <button class="bg-blue-500 hover:bg-blue-700 text-white
                    font-bold py-1 px-6 rounded" type="button">
                  Register
                </button>
              </a></li>
              <li><a href="/login">
                <button class="bg-blue-500 hover:bg-blue-700 text-white
                    font-bold py-1 px-6 rounded" type="button">
                  Log In
                </button>
              </a></li>
          {% endif %}

      </ul>
  </nav>
  <hr>

  <div id="content">
  {% block content %}{% endblock %}
  </div>
  
  <script>
      {% block script %}{% endblock %}
  </script>
 
</body>
</html>
